<!DOCTYPE html>
<html lang="pt-br" xmlns:div="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PH Personal - Personais</title>
  <script src="https://kit.fontawesome.com/cc7beb20bf.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <style>
    body {
        font-family: 'Reem Kufi Fun', sans-serif;
        background-color: #ffffff;
        font-size: 20px;
    }

    #voltar{
      text-decoration: none;
      color: black;
    }

    main{
        background-color: #D9D9D9;
    }

    #columnchart_material{
        height: 20rem;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
    }

    #conjuntoRosca{
        gap: 80px;
    }

    #donutchart1,#donutchart2{
        height: 20rem;
        border-radius: 15px;
        overflow: hidden;
    }

    #chart_div{
        height: 20rem;
    }

    main{
        row-gap: 3rem;
    }

    @media screen and (max-width:600px) {
        body {
            font-size: 16px;
        }

        h1 {
            font-size: 28px;
        }
        h3 {
            font-size: 24px;
        }
    }
  </style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['bar',"corechart","annotationchart"]});
  google.charts.setOnLoadCallback(drawCharts);

  function drawCharts(){
    drawChart1();
    drawChart2();
    drawChart3();
    drawChart4();
  };

  function drawChart1() {
    let todosAlunos = {{ balancoAlunos.1.qtd }} + {{ balancoAlunos.0.qtd }};
    var data = google.visualization.arrayToDataTable([
      ['Alunos', 'Todos', 'Ativos', 'cancelados'],
      ['2014', todosAlunos, {{ balancoAlunos.1.qtd }}, {{ balancoAlunos.0.qtd }}],
    ]);

    var options = {
      chart: {
        title: 'Balanço de alunos',
      }
    };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

    chart.draw(data, google.charts.Bar.convertOptions(options));
  };

  function drawChart2() {
        var data = google.visualization.arrayToDataTable([
            ['alunos', 'personal'],
            {% for i in alunosPorPersonal %}
                ['{{i.id}}', {{ i.qtd }}],
            {% endfor %}
        ]);

        var options = {
          pieHole: 0.4
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart1'));
        chart.draw(data, options);
};
function drawChart3() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));
        chart.draw(data, options);
      }

      function drawChart4() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Kepler-22b mission');
        data.addColumn('string', 'Kepler title');
        data.addColumn('string', 'Kepler text');
        data.addColumn('number', 'Gliese 163 mission');
        data.addColumn('string', 'Gliese title');
        data.addColumn('string', 'Gliese text');
        data.addRows([
          [new Date(2314, 2, 15), 12400, undefined, undefined,
                                  10645, undefined, undefined],
          [new Date(2314, 2, 16), 24045, 'Lalibertines', 'First encounter',
                                  12374, undefined, undefined],
          [new Date(2314, 2, 17), 35022, 'Lalibertines', 'They are very tall',
                                  15766, 'Gallantors', 'First Encounter'],
          [new Date(2314, 2, 18), 12284, 'Lalibertines', 'Attack on our crew!',
                                  34334, 'Gallantors', 'Statement of shared principles'],
          [new Date(2314, 2, 19), 8476, 'Lalibertines', 'Heavy casualties',
                                  66467, 'Gallantors', 'Mysteries revealed'],
          [new Date(2314, 2, 20), 0, 'Lalibertines', 'All crew lost',
                                  79463, 'Gallantors', 'Omniscience achieved']
        ]);

        var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));

        var options = {
          displayAnnotations: true
        };

        chart.draw(data, options);
      }

</script>
</head>
<body>

    

  {% block template %}
      {% include "TemplateNavBar.html" %}
  {% endblock %}

  <div class="d-flex">
    <a class="ml-2" id="voltar" href="{% url "personalInicial" %}"><i class="fa-solid fa-arrow-left "></i><b>Voltar</b></a>
  </div>

  <div class="container">
    <h1><b>Estatísticas</b></h1>

    <main class="container rounded p-5 d-flex flex-column">
        <div id="grafico1">
            <h3 class="mt-2">Atividade de Alunos </h3>
            <div id="columnchart_material"></div>
        </div>
        <div id="conjuntoRosca" class="container-fluid d-flex flex-row">
            <div class="w-50 " id="grafico2">
                <h3>Alunos por Personal</h3>
                <div id="donutchart1" ></div>
            </div>
            <div class="w-50 " id="grafico3">
                <h3 >Alunos por plano</h3>
                <div id="donutchart2"></div>
            </div>
        </div>
        <div id="grafico4" class="container-fluid">
            <h3>Tendencia de Assinaturas</h3>
            <div id='chart_div'></div>
        </div>
        
    </main>
  </div>

</body>
</html>
