<!DOCTYPE html>
<html lang="pt-br" xmlns:div="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PH Personal - Personais</title>
  <script src="https://kit.fontawesome.com/cc7beb20bf.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <style>
    body {
        font-family: 'Reem Kufi Fun', sans-serif;
        background-color: #ffffff;
        font-size: 20px;
    }

    #voltar{
      text-decoration: none;
      color: black;
    }

    #edicaoExercicios{
      font-size: 20px;
      height: 5rem;
      overflow-y: scroll;
    }

    .sessoes{
      background-color: #D9D9D9;
      gap: 2rem;
      
    }

    .botoes{
      gap: 1rem;
    }

    #forms{
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    }

    #paginator{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width:600px) {
        body {
            font-size: 16px;
        }

        h1 {
            font-size: 28px;
        }
        h3 {
            font-size: 24px;
        }
    }
  </style>
</head>
<body>

  {% block template %}
      {% include "TemplateNavBar.html" %}
  {% endblock %}

  <div class="d-flex">
    <a class="ml-2" id="voltar" href="{% url "listarAlunos" %}"><i class="fa-solid fa-arrow-left "></i><b>Voltar</b></a>
  </div>

  <div class="container">

    <h1><b>Gerenciamento de treinos</b></h1>
    
    <div class="sessoes p-3 d-flex flex-column">

        <div class="d-flex flex-row" id="cabecalho=lista">
            <h2 > Aluno: {{ aluno.nome }} </h2>
            <form class="ml-auto" action="#" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button type="submit" class="input-group-text btn btn-outline-primary" name='acao' value="filtrar">Filtrar Data</button>
                  </div>
                  <input type="date" class="form-control"  aria-describedby="basic-addon1"  value="{{ dataEscolhida }}" name="dataEscolhida">
                </div>
            </form>

        </div>



      {% for i in sessoes  %}
        <form action="#" method="post" id="forms">
          {% csrf_token %}
          <div class="card ">
            <div class="card-header bg-secondary">
              <input type="datetime-local" name="dia" value="{{ i.dia }}">
            </div>
            <div class="card-body">
              <h5 class="card-title">Exercicios</h5>
              <ul class="list-group list-group-flush">
                
                <input type="hidden" name="idSessao" value="{{ i.idSessao }}">

                {% for j in i.exercicios %}
                  <li class="list-group-item"> {{ j }} </li>
                {% endfor %}
    
              </ul>

              <div class="form-group">
                <label for="edicaoExercicios">Edite os exercicios abaixo:</label>
                <textarea class="form-control mb-3" id="edicaoExercicios" aria-label="Com textarea" name="exercicios"> {{ i.exerciciosList}} </textarea>
              </div>
                
              
              
              <div class="botoes d-flex flex-row">
                <input type="submit" class="ml-auto btn btn-outline-danger" name='acao' value="Excluir">
                <input type="submit" class="btn btn-primary" name='acao' value="Salvar">
              </div>
              
            </div>
          </div>
        </form>
      {% endfor %}

    <nav aria-label="...">
      <ul class="pagination d-flex flex-row justify-content-center">
        <li class="page-item {% if not sessoes.has_previous %} disabled {% endif %} ">
          <a class="page-link" {% if sessoes.has_previous %} href="?page={{ sessoes.previous_page_number}}&dataEscolhida={{ dataEscolhida }}" {% else %} tabindex="-1" {% endif %} >Anterior</a>
        </li>

        {% if sessoes.paginator.num_pages < 7 %}
            {% for i in sessoes.paginator.page_range %}
                {% if i == sessoes.number %}
                    <li class="page-item active teste">
                      <a class="page-link" href="#">{{ i }} <span class="sr-only">(atual)</span></a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}&dataEscolhida={{ dataEscolhida }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

        {% else %}

            {% if sessoes.previous_page_number != 1  %}
                <li class="page-item "><a class="page-link" href="?page=1}&dataEscolhida={{ dataEscolhida }}">1</a></li>
                <li class="page-item"><a class="page-link" {% if not sessoes.has_previous %} hidden="hidden"{% endif %} href="#">...</a></li>
            {% endif %}

            {% if sessoes.has_previous %}
              <li class="page-item "><a class="page-link" href="?page={{ sessoes.previous_page_number }}&dataEscolhida={{ dataEscolhida }}">{{ sessoes.previous_page_number }}</a></li>
            {% endif %}

            <li class="page-item active">
              <a class="page-link" href="#">{{ sessoes.number }} <span class="sr-only">(atual)</span></a>
            </li>

           {% if sessoes.has_next %}
               <li class="page-item"><a class="page-link" href="?page={{ sessoes.next_page_number }}&dataEscolhida={{ dataEscolhida }}">{{ sessoes.next_page_number }}</a></li>
               {% if sessoes.next_page_number != sessoes.paginator.num_pages  %}
                    <li class="page-item"><a class="page-link" {% if not sessoes.has_next %} hidden="hidden"{% endif %} href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ sessoes.paginator.num_pages }}&dataEscolhida={{ dataEscolhida }}">{{ sessoes.paginator.num_pages }}</a></li>
               {% endif %}
           {% endif %}



        {% endif %}

        <li class="page-item{% if not sessoes.has_next %} disabled {% endif %}">
          <a class="page-link" {% if sessoes.has_next %} href="?page= {{ sessoes.next_page_number}}&dataEscolhida={{ dataEscolhida }}" {% else %} tabindex="-1" {% endif %}>Próximo</a>
        </li>
      </ul>
    </nav>


    </div>
  </div>

</body>
</html>
