<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> CADASTRO DE PERSONAL </h1>  <!-- O IDEAL SERIA A CRIAÇÃO DO FORMULARIO ATRAVÉS DE UM FORM -->

    <form method="post" action="{% url "cadastrarPersonal" %}">
        {% csrf_token %}

        nome:
        <input type="text" name="nome">
        <br>
        senha:
        <input type="text" name="senha">
        <br>
        telefone:
        <input type="text" name="telefone">
        <br>
        email:
        <input type="text" name="email">
        <br>
        salario:
        <input type="text" name="salario">
        <br>
        acesso:
        <input type="text" name="acesso">
        <br>
        cref:
        <input type="text" name="cref">
        <br>
        cadastrar:
        <input type="submit" name="cadastrar">
        <br>

    </form>
</body>
</html>